.paginationWrapper {
  display: flex;
  gap: 8px;
}

.arrowCont {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .arrowCont {
    width: 40px;
    height: 40px;
  }

  .arrowIcon {
    width: 20px;
    height: 20px;
  }
}
