.readingWrapper {
  border-radius: 30px;
  background-color: var(--color-bg);
  padding: 40px 20px;
}

.readingTtl {
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeLeft {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--color-gray);
}

.bookWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  width: 146px;
}

.imgWrapper {
  width: 137px;
  margin-bottom: 10px;
}

.bookCover {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.emptyImg {
  content: var(--book-cover);
}

@media screen and (min-resolution: 192dpi) {
  .emptyImg {
    content: var(--book-cover-2);
  }
}

.bookTtl {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  margin-bottom: 5px;
  text-align: center;
}

.bookAuthor {
  font-size: 10px;
  line-height: 120%;
  color: var(--color-gray);
  margin-bottom: 20px;
}

.iconReading {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .readingWrapper {
    padding-inline: 40px;
  }

  .readingTtl {
    font-size: 28px;
    line-height: 114%;
    margin-bottom: 32px;
  }

  .timeLeft {
    font-size: 14px;
    line-height: 129%;
  }

  .bookWrapper {
    width: 100%;
  }

  .imgWrapper {
    width: 169px;
    margin-bottom: 25px;
  }

  .bookTtl {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 4px;
    width: 340px;
  }

  .bookAuthor {
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .readingWrapper {
    width: 847px;
  }

  .readingTtl {
    margin-bottom: 44px;
  }

  .imgWrapper {
    width: 224px;
  }

  .bookAuthor {
    margin-bottom: 25px;
  }
}
