.dairyWrapper {
  background-color: var(--color-input);
  border-radius: 12px;
  padding: 16px;
  height: 211px;
  overflow-y: auto;
}

.dairyList {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

@media screen and (min-width: 768px) {
  .dairyWrapper {
    height: 252px;
  }

  .dairyList {
    gap: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .dairyWrapper {
    padding: 20px;
    height: 373px;
  }

  .dairyList {
    gap: 22px;
  }
}
