.input {
  border-radius: 12px;
  padding: 14px;
  width: 272px;
  /* width: 232px; */
  background-color: var(--color-input);
  height: 16px;
  padding-left: 49px;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  border: none;
  outline: none;
}

.pwdInput {
  width: 243px;
  /* width: 203px; */
  padding-left: 78px;
}

.nameInput {
  width: 262px;
  padding-left: 59px;
}

.input::placeholder {
  color: var(--color-white);
}

.iconEye {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
