.input {
  border-radius: 12px;
  box-sizing: border-box;
  padding: 14px;
  width: 100%;
  background-color: var(--color-input);
  padding-left: 49px;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  border: 1px solid transparent;
  outline: none;
  transition: border-color 250ms;
  cursor: pointer;
}

.input::placeholder {
  color: var(--color-white);
}

.input:hover {
  border-color: rgba(249, 249, 249, 0.1);
}

.passwordInput {
  padding-left: 78px;
}

.nameInput {
  padding-left: 59px;
}

.bookInput {
  padding-left: 77px;
}

.authorInput {
  padding-left: 85px;
}

.pagesInput {
  padding-left: 125px;
}

.iconEye {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.errMessage {
  font-size: 9px;
  color: #e90516;
  margin-top: 1px;
  margin-left: 8px;
}

.errInput,
.errInput:hover {
  border-color: #e90516;
}

.errIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 13px;
  right: 16px;
}

.sucMessage {
  font-size: 9px;
  color: #30b94d;
  margin-top: 1px;
  margin-left: 8px;
}

.sucInput,
.sucInput:hover {
  border-color: #30b94d;
}

@media screen and (min-width: 768px) {
  .input {
    padding-block: 16px;
    font-size: 14px;
    line-height: 129%;
    padding-left: 53px;
  }

  .nameInput {
    padding-left: 65px;
  }

  .passwordInput {
    padding-left: 88px;
  }

  .bookInput {
    padding-left: 86px;
    width: 295px;
  }

  .authorInput {
    padding-left: 95px;
    width: 295px;
  }

  .pagesInput {
    padding-left: 140px;
    width: 295px;
  }

  .iconEye {
    top: 16px;
    right: 16px;
  }

  .errMessage,
  .sucMessage {
    font-size: 12px;
  }

  .errIcon {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .bookInput,
  .authorInput,
  .pagesInput {
    width: 100%;
  }
}
