.sectionWrapper {
  background-color: var(--color-input);
  border-radius: 12px;
  padding: 20px;
}

.sectionTtl {
  color: var(--color-white-lib);
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 14px;
}

.booksWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 17px;
}

.itemWrapper {
  width: calc((100% - 20px * 2) / 3);
}

.imgCont {
  width: 71px;
  height: 107px;
  margin-bottom: 8px;
}

.bookImg {
  width: 100%;
  height: 100%;
}

.bookTtl {
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-white-lib);
}

.bookAuthor {
  font-size: 10px;
  line-height: 120%;
  color: var(--color-gray);
}

.linkCont {
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--color-gray);
  transition: color 250ms;
}

.link:hover {
  color: var(--color-white);
}

.linkIcon {
  width: 24px;
  height: 24px;
  color: var(--color-white);
  transition: color 250ms;
}

.linkIcon:hover {
  color: var(--color-gray);
}
