.sectionWrapper {
  border-radius: 12px;
  background-color: var(--color-input);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionTtl {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.sectionList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionItem {
  display: flex;
  gap: 12px;
}

.number {
  border-radius: 100px;
  min-width: 40px;
  height: 40px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-bg);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.sectionText {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}

.textSpan {
  color: var(--color-gray);
}

.linkCont {
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--color-gray);
  transition: color 250ms;
}

.link:hover {
  color: var(--color-white);
}

.linkIcon {
  width: 24px;
  height: 24px;
  color: var(--color-white);
  transition: color 250ms;
}

.linkIcon:hover {
  color: var(--color-gray);
}

@media screen and (min-width: 768px) {
  .sectionWrapper {
    gap: 0;
  }

  .sectionList {
    margin-bottom: 26px;
  }

  .sectionTtl {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .number {
    font-size: 20px;
  }
}
