.libWrapper {
  border-radius: 30px;
  background-color: var(--color-bg);
  max-width: 335px;
  height: 407px;
  padding: 40px 20px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.libTtl {
  font-size: 20px;
  line-height: 100%;
}

.booksWrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 21px;
}

.iconWrapper {
  border-radius: 100%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(232, 80, 80, 0.1);
  border: 1px solid rgba(232, 80, 80, 0.2);
  position: absolute;
  bottom: 2px;
  right: 0;
  cursor: pointer;
}

.binIcon {
  color: #e85050;
}

@media screen and (min-width: 768px) {
  .libWrapper {
    padding: 40px;
    max-width: none;
    width: 100%;
    height: 651px;
  }

  .libTtl {
    font-size: 28px;
    line-height: 114%;
    letter-spacing: 0.02em;
  }

  .recomTtl {
    font-size: 28px;
    line-height: 114%;
  }

  .booksWrapper {
    column-gap: 25px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1440px) {
  .libWrapper {
    width: 847px;
  }

  .booksWrapper {
    column-gap: 20px;
  }
}
