.itemWrapper {
  width: calc((100% - 21px) / 2);
}

.imgCont {
  width: 137px;
  height: 208px;
  margin-bottom: 8px;
  cursor: pointer;
}

.bookImg {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.emptyImg {
  content: var(--book-cover);
}

@media screen and (min-resolution: 192dpi) {
  .emptyImg {
    content: var(--book-cover-2);
  }
}

.textAndIconWrapper {
  position: relative;
}

.narrowTextWrapper {
  width: 95px;
}

.bookTtl,
.bookAuthor {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookTtl {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  margin-bottom: 2px;
}

.bookAuthor {
  font-size: 10px;
  line-height: 120%;
  color: var(--color-gray);
}

@media screen and (min-width: 768px) {
  .itemWrapper {
    width: calc((100% - 25px * 3) / 4);
  }

  .narrowTextWrapper {
    width: 89px;
  }
}

@media screen and (min-width: 1440px) {
  .itemWrapper {
    width: calc((100% - 20px * 4) / 5);
  }
}
