.formWrapper {
  background-color: var(--color-bg);
  padding: 20px;
  border-radius: 30px;
  width: 335px;
  /* width: 295px; */
  height: 371px;
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 42px;
  height: 17px;
  content: url(../../assets/images/logo-mobile@1x.png);
  margin-bottom: 40px;
}

.formTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  margin-bottom: 20px;
}

.bookSpan {
  color: rgba(227, 227, 227, 0.5);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: auto;
}

.inputBox {
  position: relative;
}

.label {
  position: absolute;
  top: 14px;
  left: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #686868;
  cursor: auto;
}

.btnWrapper {
  margin-bottom: 20px;
  display: flex;
  gap: 14px;
}

.submitBtn {
  border-radius: 30px;
  padding: 12px;
  width: 131px;
  background-color: #f9f9f9;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: #1f1f1f;
  border: none;
  /* align-items: flex-end; */
}

.link {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #686868;
  align-self: center;
}

@media screen and (min-resolution: 192dpi) {
  .logo {
    content: url(../../assets/images/logo-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .formWrapper {
    padding: 40px 64px;
  }

  .logo {
    max-width: 182px;
    content: url(../../assets/images/logo-desktop@1x.png);
    margin-bottom: 157px;
  }

  .formTitle {
    font-size: 64px;
    line-height: 94%;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .logo {
    content: url(../../assets/images/logo-desktop@2x.png);
  }
}
