.authWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.formWrapper {
  background-color: var(--color-bg);
  padding: 20px;
  border-radius: 30px;
  max-width: 335px;
  height: 411px;
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 42px;
  height: 17px;
  content: var(--logo-mobile);
  margin-bottom: 40px;
}

.formTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.bookSpan {
  color: rgba(227, 227, 227, 0.5);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: auto;
}

.inputBox {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 12px;
  line-height: 133%;
  cursor: auto;
}

.btnWrapper {
  margin-bottom: 20px;
  display: flex;
  gap: 14px;
}

.submitBtn {
  padding: 12px 29px;
  background-color: var(--color-white);
  font-size: 14px;
  line-height: 129%;
  color: var(--color-bg);
  border: 1px solid transparent;
}

.submitBtn:hover {
  border-color: var(--border-color);
  background-color: #141414;
  color: var(--color-white);
}

.link {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: var(--color-gray);
  align-self: center;
  transition: color 250ms;
}

.link:hover {
  color: var(--color-white);
}

.imgWrapper {
  background-color: var(--color-bg);
  border-radius: 30px;
  max-width: 335px;
  padding: 20px 40px 0;
  overflow: hidden;
}

.phoneImg {
  content: var(--phone-mobile);
  max-width: 100%;
  height: 100%;
}

@media screen and (min-resolution: 192dpi) {
  .logo {
    content: var(--logo-mobile-2);
  }

  .phoneImg {
    content: var(--phone-mobile-2);
  }
}

@media screen and (min-width: 768px) {
  .formWrapper {
    padding-block: 40px;
    padding-inline: 64px 168px;
    max-width: none;
    width: 704px;
    height: 960px;
  }

  .logo {
    max-width: 182px;
    content: var(--logo-desktop);
    margin-bottom: 157px;
  }

  .formTitle {
    font-size: 62px;
    line-height: 94%;
    margin-bottom: 40px;
  }

  .label {
    top: 17px;
    font-size: 14px;
    line-height: 129%;
  }

  .inputWrapper {
    gap: 14px;
  }

  .btnWrapper {
    gap: 20px;
  }

  .btnWrapper {
    margin-bottom: 174px;
  }

  .submitBtn {
    padding: 16px 54px;
    font-size: 20px;
    line-height: 100%;
  }

  .link {
    font-size: 14px;
    line-height: 129%;
  }

  .imgWrapper {
    display: none;
  }

  .phoneImg {
    content: var(--phone-desktop);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .logo {
    content: var(--logo-desktop-2);
  }

  .phoneImg {
    content: var(--phone-desktop-2);
  }
}

@media screen and (min-width: 1440px) {
  .authWrapper {
    flex-direction: row;
    gap: 16px;
    align-items: stretch;
    justify-content: center;
  }

  .formWrapper {
    padding-inline: 64px;
    height: 736px;
    width: 600px;
  }

  .logo {
    margin-bottom: 107px;
  }

  .btnWrapper {
    margin-bottom: 0;
  }

  .imgWrapper {
    display: block;
    padding: 80px 98px 0;
    max-width: none;
  }

  .phoneImg {
    width: 405px;
  }
}
