.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: var(--color-input);
  padding-inline: 54px;
  padding-block: 280px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 500ms;
}

.isClosing {
  transform: translateX(100%);
}

.closeIcon {
  position: absolute;
  top: 34px;
  right: 40px;
  cursor: pointer;
  transition: color 250ms;
}

.closeIcon:hover {
  color: var(--color-gray);
}

.submitBtn {
  padding: 10px;
  font-size: 14px;
  line-height: 129%;
  background-color: transparent;
}
