.dashboard {
  background-color: var(--color-bg);
  border-radius: 30px;
  max-width: 335px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .dashboard {
    max-width: none;
    width: 704px;
    padding: 32px;
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .dashboard {
    width: 353px;
    height: 651px;
    padding: 40px 20px 20px;
    flex-direction: column;
    gap: 20px;
  }
}
