.formTtl {
  margin-left: 14px;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.inputBox {
  position: relative;
}

.bookLabel,
.authorLabel,
.pagesLabel {
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--color-gray);
  cursor: auto;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.submitBtn {
  padding: 10px 20px;
  background-color: var(--color-bg);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: var(--color-white);
  border: 1px solid rgba(249, 249, 249, 0.2);
}

.submitBtn:hover {
  border-color: transparent;
  background-color: var(--color-white);
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .formTtl {
    font-size: 14px;
    line-height: 129%;
  }

  .bookLabel,
  .authorLabel,
  .pagesLabel {
    font-size: 14px;
    line-height: 129%;
    top: 17px;
  }

  .submitBtn {
    padding: 12px 28px;
    font-size: 16px;
    line-height: 112%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .addBookBtn {
    margin-top: 18px;
  }
}
