.formTtl {
  margin-left: 14px;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 120%;
}

.inputBox {
  position: relative;
}

.bookLabel,
.authorLabel,
.pagesLabel {
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: 12px;
  line-height: 133%;
  cursor: auto;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.submitBtn {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 129%;
}

@media screen and (min-width: 768px) {
  .formTtl {
    font-size: 14px;
    line-height: 129%;
  }

  .bookLabel,
  .authorLabel,
  .pagesLabel {
    font-size: 14px;
    line-height: 129%;
    top: 17px;
  }

  .submitBtn {
    padding: 12px 28px;
    font-size: 16px;
    line-height: 112%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .addBookBtn {
    margin-top: 18px;
  }
}
