.recomWrapper {
  border-radius: 30px;
  background-color: var(--color-bg);
  padding: 40px 20px;
  width: 100%;
  max-width: 335px;
  height: 382px;
}

.ttlWrapper {
  display: flex;
  justify-content: space-between;
}

.recomTtl {
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
  margin-bottom: 34px;
}

.booksWrapper {
  display: flex;
  gap: 21px;
}

@media screen and (min-width: 768px) {
  .recomWrapper {
    padding: 40px;
    width: 100%;
    height: 663px;
  }

  .recomTtl {
    font-size: 28px;
    line-height: 114%;
    margin-bottom: 28px;
  }

  .booksWrapper {
    column-gap: 25px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1440px) {
  .recomWrapper {
    padding-inline: 40px;
    padding-block: 40px 28px;
    width: 847px;
  }

  .booksWrapper {
    column-gap: 20px;
  }
}
