:root {
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.02em;

  color-scheme: dark;
  color: #f9f9f9;
  background-color: #141414;
}

a {
  /* font-weight: 500;
  color: #646cff;
  text-decoration: inherit; */
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  border-radius: 30px;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* button:hover {
  border-color: #646cff;
} */
