:root {
  font-family: "Poppins", sans-serif;

  color-scheme: dark;
  color: var(--color-white);
  background-color: #141414;

  --color-bg: #1f1f1f;
  --color-white: #f9f9f9;
  --color-gray: #686868;
  --color-input: #262626;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 250ms, color 250ms, border 250ms;
}

img {
  display: block;
}
