:root {
  font-family: "Poppins", sans-serif;

  color-scheme: dark;
  color: var(--color-white);
  background-color: var(--color-black);

  --color-bg: #1f1f1f;
  --color-white: #f9f9f9;
  --color-white-lib: #e3e3e3;
  --color-gray: #686868;
  --color-input: #262626;
  --color-black: #141414;
  --border-color: rgba(249, 249, 249, 0.2);

  /* LOGO VARIABLES */
  --logo-mobile: url(./assets/images/logo-mobile@1x.png);
  --logo-mobile-2: url(./assets/images/logo-mobile@2x.png);
  --logo-desktop: url(./assets/images/logo-desktop@1x.png);
  --logo-desktop-2: url(./assets/images/logo-desktop@2x.png);

  /* PHONE VARIABLES */
  --phone-mobile: url(./assets/images/phone-mobile@1x.png);
  --phone-mobile-2: url(./assets/images/phone-mobile@2x.png);
  --phone-desktop: url(./assets/images/phone-desktop@1x.png);
  --phone-desktop-2: url(./assets/images/phone-desktop@2x.png);

  /* BOOK VARIABLES */
  --books-mobile: url(./assets/images/books-mobile@1x.png);
  --books-mobile-2: url(./assets/images/books-mobile@2x.png);
  --books-desktop: url(./assets/images/books-desktop@1x.png);
  --books-desktop-2: url(./assets/images/books-desktop@2x.png);
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  letter-spacing: -0.02em;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

label {
  letter-spacing: -0.02em;
  color: var(--color-gray);
}

button {
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid var(--border-color);
  background-color: var(--color-bg);
  color: var(--color-white);
  letter-spacing: 0.02em;
  transition: background-color 250ms, color 250ms, border 250ms;
}

button:hover {
  border-color: transparent;
  background-color: var(--color-white);
  color: var(--color-bg);
}

img {
  display: block;
}
