:root {
  font-family: "Poppins", sans-serif;

  color-scheme: dark;
  color: var(--color-white);
  background-color: #141414;

  --color-bg: #1f1f1f;
  --color-white: #f9f9f9;
  --color-gray: #686868;
  --color-input: #262626;

  /* LOGO VARIABLES */
  --logo-mobile: url(./assets/images/logo-mobile@1x.png);
  --logo-mobile-2: url(./assets/images/logo-mobile@2x.png);
  --logo-desktop: url(./assets/images/logo-desktop@1x.png);
  --logo-desktop-2: url(./assets/images/logo-desktop@2x.png);

  /* PHONE VARIABLES */
  --phone-mobile: url(./assets/images/phone-mobile@1x.png);
  --phone-mobile-2: url(./assets/images/phone-mobile@2x.png);
  --phone-desktop: url(./assets/images/phone-desktop@1x.png);
  --phone-desktop-2: url(./assets/images/phone-desktop@2x.png);
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 250ms, color 250ms, border 250ms;
}

img {
  display: block;
}
